<div class="col-sm-3 bookmark_<%= bookmark.id %>">
  <div class="thumbnail">
    <%= link_to( image_tag("blockmarks-logo.png"), topic_bookmark_path(bookmark.topic, bookmark)) %>
    <div class="caption text-center">
      <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
      <p class="ellipsis"><small><%= bookmark.url %></small></p>
      <%= link_to "", [bookmark.topic, bookmark],
                  remote: true,
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this bookmark?' },
                  'data-toggle' => 'popover',
                  'data-content' => 'Delete',
                  class: "glyphicon glyphicon-remove" %>
    </div>
  </div>
</div>
