<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center"><%= @topic.title %></h1>
    <%= link_to "", new_topic_bookmark_path(@topic),
                    remote: true,
                    title: 'New Bookmark',
                    'data-toggle' => 'tooltip',
                    class: "glyphicon glyphicon-plus new-bookmark-btn" %>
    <div id="bookmark-form" style="display:none;"></div>

    <div id="topic_<%= @topic.id %>_bookmarks">
      <% if @topic.bookmarks.any? %>
        <%= render partial: "bookmarks/bookmarks", locals: { bookmarks: @topic.bookmarks }%>
      <% else %>
        <p class="text-center text-muted"><%= @topic.title %> is currently empty</p>
      <% end %>
    </div>
  </div>
</div>
